<ion-content [fullscreen]="true">
  <ion-segment-view>
    <!-- SEGUIMENTO 1 -->
    <ion-segment-content id="first">
      <ion-card color="light">
        <ion-card-header>
          <ion-img 
            src="../../../assets/img1.png" 
            alt="Imagem De Exemplo">
          </ion-img>
        </ion-card-header>
        <br><br>
        <ion-card-content align="center">
          <h1>GRAMMAR</h1>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias tempora consectetur modi omnis iure ad exercitationem, sunt molestias veritatis, culpa quam at laborum minus error amet quae quas accusantium.</p>
        </ion-card-content>
        <ion-card-content class="icone">
          <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-segment-content>

    <!-- SEGUIMENTO 2 -->
    <ion-segment-content id="second">
      <ion-card color="light">
        <br><br>
        <ion-card-header>
          <ion-img 
            src="../../../assets/img2.png" 
            alt="Imagem De Exemplo">
          </ion-img>
        </ion-card-header>
        <br><br>
        <ion-card-content align="center">
          <h1>PHONETICS</h1>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias tempora consectetur modi omnis iure ad exercitationem, sunt molestias veritatis, culpa quam at laborum minus error amet quae quas accusantium.</p>
        </ion-card-content>
        <ion-card-content class="icone">
          <ion-icon name="arrow-forward-outline" size="large"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-segment-content>

    <!-- SEGUIMENTO 3 -->
    <ion-segment-content id="third">
      <ion-card color="light">
        <ion-card-header>
          <ion-img 
            src="../../../assets/img3.png" 
            alt="Imagem De Exemplo">
          </ion-img>
        </ion-card-header>
        <br>
        <ion-card-content align="center">
          <h1>VOCABULARY</h1>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus alias tempora consectetur modi omnis iure ad exercitationem, sunt molestias veritatis, culpa quam at laborum minus error amet quae quas accusantium.</p>
        </ion-card-content>
        <ion-card-content class="icone">
            <ion-button expand="block" routerLink="/home">LEARN MORE</ion-button> 
        </ion-card-content>
      </ion-card>
    </ion-segment-content>
  </ion-segment-view>
</ion-content>