ion-card{
    height: 90%;
    width: 85%;

    margin-left: 7.5%;
    margin-top: 9%;
}

ion-img{
    width: 100%;
}

.icone{
    text-align: right;

    top: 10vh;
}

ion-button{
    margin-bottom: 3%;    
}

ion-segment{
    display: none;
}