.materiasEmAndamento{
    display: flex;
    justify-content: left;

    overflow-x: auto;
}

.materiasEmAndamento ion-card{
    flex-shrink: 0;
    width: 70%;
    
}

.colorWhite{
    color: whitesmoke;
}

.desafioDiario{
    height: 30%;
}